/*
  --------------------------------- Layout du pied de page
*/

footer{
  background-color: rgb(162, 162, 162);
  color: $noir;
}

.piedpage{
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    padding-bottom: 3vh;
    max-width: 80%;

    &__s1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        flex : 0 0 30%;

        & div {
          width: 30%;
        }
        &__externe {

            & h2 {
              margin: 0 auto;
              margin-bottom: 1vh;
            }

            & .menu__ext {
                display : flex;
                flex-direction: column;
                text-decoration: underline;
            }
        }
        &__coord {
          margin: 0;
        }
        &__icone-app {
          margin-top: 3vh;
        }
    }
}

.piedpage__s1__adresse__recherche .recherche {
  margin-bottom: 3vh;
  border: none;
  
  &:hover {
    border: none;
  }

  &__input:hover {
    background-color: rgb(236, 236, 236);
  }
}

.piedpage__s1__externe #menu-principal-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3vh;
  padding-left: 0;
}