/*
  --------------------------------- Layout du pied de page
*/

footer{
  background-color: rgb(162, 162, 162); // devrait devenir une variable de couleur
  color : #000;  // variable !!
}

.piedpage{
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    padding-bottom: 3vh;

    &__s1{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;

        &__externe {
            flex : 0 0 20%;
            & .menu { //ul
                display : flex;
                flex-direction: column;
            }
        }
        &__adresse{
            flex : 0 0 40%;
            &__recherche{
            }
        }
        &__coord {
          margin: 0;
        }
        &__description{
            flex:1 0 300px;
        }
        &__icone-app {
          margin-top: 3vh;
        }
    }
}

.piedpage__s1__adresse__recherche .recherche {
  margin-top: 3vh;
  border: none;
  
  &:hover {
    border: none;
  }

  &__input:hover {
    background-color: rgb(236, 236, 236);
  }
}