// composant carte

.carte {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2vh;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;

  background-color: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.253);

  &--grande {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    padding: 10px;

    @media screen and (max-width:$point__rupture) {
      flex-direction: column;
    }
  }

  &__contenu {
    margin: 0;
    margin-bottom: 1vh;
    padding-top: 1vh;
  }

  &__input {
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgb(0, 255, 242);

    color: rgb(142, 142, 142);
    
    &:hover {
      border: 2px solid rgb(0, 190, 180);
    }
  }

  &__bouton {
    padding: 10px 20px;
    margin-top: 1vh;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 255, 242);
    border-radius: 4px;
    cursor: pointer;

    &--actif {
      background-color: white;
    }

    &:hover {
      background-color: rgb(242, 242, 242);
    }
  }
}
