// composant menu

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media screen and (max-width:$point__rupture) {
    flex-direction: column;
  }

  &__a {
    padding: 2px 5px;
  }
}

