// composant de recherches

.recherche {
  display: flex;
  border: 1px solid rgb(168, 168, 168);
  height: 1.3rem;
  padding: 2px;

  &__input {
    outline: none;
    border: none;

    color: rgb(142, 142, 142);
  }

  &:hover {
    border: 1px solid rgb(0, 0, 0);
  }
}